# English Premier League Analysis

### Summary
An Exploration in the trend in the EPL table within the last 10 years; 2012/2013 to 2021/2022 session.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("EPL Standings 2000-2022.csv")

In [4]:
df.head()

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
1,2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2,2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
3,2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
4,2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]

In [5]:
df.drop("Qualification or relegation",axis =1 , inplace = True)

In [6]:
Epl_pallete =  sns.light_palette(sns.color_palette('bright')[2])[::-1]

In [7]:
winners = df[df.Pos == 1]
winners

      Season  Pos               Team  Pld   W   D  L   GF  GA  GD  Pts
0    2000-01    1  Manchester United   38  24   8  6   79  31  48   80
20   2001-02    1            Arsenal   38  26   9  3   79  36  43   87
40   2002-03    1  Manchester United   38  25   8  5   74  34  40   83
60   2003-04    1            Arsenal   38  26  12  0   73  26  47   90
80   2004-05    1            Chelsea   38  29   8  1   72  15  57   95
100  2005-06    1            Chelsea   38  29   4  5   72  22  50   91
120  2006-07    1  Manchester United   38  28   5  5   83  27  56   89
140  2007-08    1  Manchester United   38  27   6  5   80  22  58   87
160  2008-09    1  Manchester United   38  28   6  4   68  24  44   90
180  2009-10    1            Chelsea   38  27   5  6  103  32  71   86
200  2010-11    1  Manchester United   38  23  11  4   78  37  41   80
220  2011-12    1    Manchester City   38  28   5  5   93  29  64   89
240  2012-13    1  Manchester United   38  28   5  5   86  43  43   89
260  2013-14    1    Manchester City   38  27   5  6  102  37  65   86
280  2014-15    1            Chelsea   38  26   9  3   73  32  41   87
300  2015-16    1     Leicester City   38  23  12  3   68  36  32   81
320  2016-17    1            Chelsea   38  30   3  5   85  33  52   93
340  2017-18    1    Manchester City   38  32   4  2  106  27  79  100
360  2018-19    1    Manchester City   38  32   2  4   95  23  72   98
380  2019-20    1          Liverpool   38  32   3  3   85  33  52   99
400  2020-21    1    Manchester City   38  27   5  6   83  32  51   86
420  2021-22    1    Manchester City   38  29   6  3   99  26  73   93

In [8]:
winners.Pts.mean()

89.04545454545455

In [9]:
relegated = df[df.Pos>=18]
relegated

      Season  Pos                  Team  Pld  W   D   L  GF  GA  GD  Pts
17   2000-01   18       Manchester City   38  8  10  20  41  65 -24   34
18   2000-01   19         Coventry City   38  8  10  20  36  63 -27   34
19   2000-01   20         Bradford City   38  5  11  22  30  70 -40   26
37   2001-02   18          Ipswich Town   38  9   9  20  41  64 -23   36
38   2001-02   19          Derby County   38  8   6  24  33  63 -30   30
..       ...  ...                   ...  ... ..  ..  ..  ..  ..  ..  ...
418  2020-21   19  West Bromwich Albion   38  5  11  22  35  76 -41   26
419  2020-21   20      Sheffield United   38  7   2  29  20  63 -43   23
437  2021-22   18               Burnley   38  7  14  17  34  53 -19   35
438  2021-22   19               Watford   38  6   5  27  34  77 -43   23
439  2021-22   20          Norwich City   38  5   7  26  23  84 -61   22

[66 rows x 11 columns]

In [10]:
relegated.Pts.mean()

30.12121212121212

In [11]:
winners.groupby('Team').Pos.count()

Team
Arsenal              2
Chelsea              5
Leicester City       1
Liverpool            1
Manchester City      6
Manchester United    7
Name: Pos, dtype: int64

In [12]:
df.sort_values('Pts').tail(6)

      Season  Pos             Team  Pld   W  D  L   GF  GA  GD  Pts
420  2021-22    1  Manchester City   38  29  6  3   99  26  73   93
80   2004-05    1          Chelsea   38  29  8  1   72  15  57   95
361  2018-19    2        Liverpool   38  30  7  1   89  22  67   97
360  2018-19    1  Manchester City   38  32  2  4   95  23  72   98
380  2019-20    1        Liverpool   38  32  3  3   85  33  52   99
340  2017-18    1  Manchester City   38  32  4  2  106  27  79  100

In [14]:
df.groupby('Team').W.sum().sort_values(ascending = False).head(6)

Team
Manchester United    507
Chelsea              492
Arsenal              470
Liverpool            464
Manchester City      428
Tottenham Hotspur    393
Name: W, dtype: int64

In [15]:
df[df.Team == 'Arsenal'].tail(20)

      Season  Pos     Team  Pld   W   D   L  GF  GA  GD  Pts
41   2002-03    2  Arsenal   38  23   9   6  85  42  43   78
60   2003-04    1  Arsenal   38  26  12   0  73  26  47   90
81   2004-05    2  Arsenal   38  25   8   5  87  36  51   83
103  2005-06    4  Arsenal   38  20   7  11  68  31  37   67
123  2006-07    4  Arsenal   38  19  11   8  63  35  28   68
142  2007-08    3  Arsenal   38  24  11   3  74  31  43   83
163  2008-09    4  Arsenal   38  20  12   6  68  37  31   72
182  2009-10    3  Arsenal   38  23   6   9  83  41  42   75
203  2010-11    4  Arsenal   38  19  11   8  72  43  29   68
222  2011-12    3  Arsenal   38  21   7  10  74  49  25   70
243  2012-13    4  Arsenal   38  21  10   7  72  37  35   73
263  2013-14    4  Arsenal   38  24   7   7  68  41  27   79
282  2014-15    3  Arsenal   38  22   9   7  71  36  35   75
301  2015-16    2  Arsenal   38  20  11   7  65  36  29   71
324  2016-17    5  Arsenal   38  23   6   9  77  44  33   75
345  2017-18    6  Arsenal   38  19   6  13  74  51  23   63
364  2018-19    5  Arsenal   38  21   7  10  73  51  22   70
387  2019-20    8  Arsenal   38  14  14  10  56  48   8   56
407  2020-21    8  Arsenal   38  18   7  13  55  39  16   61
424  2021-22    5  Arsenal   38  22   3  13  61  48  13   69

In [16]:
df[df.Team == 'Manchester United'].tail(20)

      Season  Pos               Team  Pld   W   D   L  GF  GA  GD  Pts
40   2002-03    1  Manchester United   38  25   8   5  74  34  40   83
62   2003-04    3  Manchester United   38  23   6   9  64  35  29   75
82   2004-05    3  Manchester United   38  22  11   5  58  26  32   77
101  2005-06    2  Manchester United   38  25   8   5  72  34  38   83
120  2006-07    1  Manchester United   38  28   5   5  83  27  56   89
140  2007-08    1  Manchester United   38  27   6   5  80  22  58   87
160  2008-09    1  Manchester United   38  28   6   4  68  24  44   90
181  2009-10    2  Manchester United   38  27   4   7  86  28  58   85
200  2010-11    1  Manchester United   38  23  11   4  78  37  41   80
221  2011-12    2  Manchester United   38  28   5   5  89  33  56   89
240  2012-13    1  Manchester United   38  28   5   5  86  43  43   89
266  2013-14    7  Manchester United   38  19   7  12  64  43  21   64
283  2014-15    4  Manchester United   38  20  10   8  62  37  25   70
304  2015-16    5  Manchester United   38  19   9  10  49  35  14   66
325  2016-17    6  Manchester United   38  18  15   5  54  29  25   69
341  2017-18    2  Manchester United   38  25   6   7  68  28  40   81
365  2018-19    6  Manchester United   38  19   9  10  65  54  11   66
382  2019-20    3  Manchester United   38  18  12   8  66  36  30   66
401  2020-21    2  Manchester United   38  21  11   6  73  44  29   74
425  2021-22    6  Manchester United   38  16  10  12  57  57   0   58

In [17]:
df[df.Team == 'Manchester City'].tail(20)

      Season  Pos             Team  Pld   W   D   L   GF  GA  GD  Pts
48   2002-03    9  Manchester City   38  15   6  17   47  54  -7   51
75   2003-04   16  Manchester City   38   9  14  15   55  54   1   41
87   2004-05    8  Manchester City   38  13  13  12   47  39   8   52
114  2005-06   15  Manchester City   38  13   4  21   43  48  -5   43
133  2006-07   14  Manchester City   38  11   9  18   29  44 -15   42
148  2007-08    9  Manchester City   38  15  10  13   45  53  -8   55
169  2008-09   10  Manchester City   38  15   5  18   58  50   8   50
184  2009-10    5  Manchester City   38  18  13   7   73  45  28   67
202  2010-11    3  Manchester City   38  21   8   9   60  33  27   71
220  2011-12    1  Manchester City   38  28   5   5   93  29  64   89
241  2012-13    2  Manchester City   38  23   9   6   66  34  32   78
260  2013-14    1  Manchester City   38  27   5   6  102  37  65   86
281  2014-15    2  Manchester City   38  24   7   7   83  38  45   79
303  2015-16    4  Manchester City   38  19   9  10   71  41  30   66
322  2016-17    3  Manchester City   38  23   9   6   80  39  41   78
340  2017-18    1  Manchester City   38  32   4   2  106  27  79  100
360  2018-19    1  Manchester City   38  32   2   4   95  23  72   98
381  2019-20    2  Manchester City   38  26   3   9  102  35  67   81
400  2020-21    1  Manchester City   38  27   5   6   83  32  51   86
420  2021-22    1  Manchester City   38  29   6   3   99  26  73   93

In [18]:
df[df.Team == 'Chelsea'].tail(20)

      Season  Pos     Team  Pld   W   D   L   GF  GA  GD  Pts
43   2002-03    4  Chelsea   38  19  10   9   68  38  30   67
61   2003-04    2  Chelsea   38  24   7   7   67  30  37   79
80   2004-05    1  Chelsea   38  29   8   1   72  15  57   95
100  2005-06    1  Chelsea   38  29   4   5   72  22  50   91
121  2006-07    2  Chelsea   38  24  11   3   64  24  40   83
141  2007-08    2  Chelsea   38  25  10   3   65  26  39   85
162  2008-09    3  Chelsea   38  25   8   5   68  24  44   83
180  2009-10    1  Chelsea   38  27   5   6  103  32  71   86
201  2010-11    2  Chelsea   38  21   8   9   69  33  36   71
225  2011-12    6  Chelsea   38  18  10  10   65  46  19   64
242  2012-13    3  Chelsea   38  22   9   7   75  39  36   75
262  2013-14    3  Chelsea   38  25   7   6   71  27  44   82
280  2014-15    1  Chelsea   38  26   9   3   73  32  41   87
309  2015-16   10  Chelsea   38  12  14  12   59  53   6   50
320  2016-17    1  Chelsea   38  30   3   5   85  33  52   93
344  2017-18    5  Chelsea   38  21   7  10   62  38  24   70
362  2018-19    3  Chelsea   38  21   9   8   63  39  24   72
383  2019-20    4  Chelsea   38  20   6  12   69  54  15   66
403  2020-21    4  Chelsea   38  19  10   9   58  36  22   67
422  2021-22    3  Chelsea   38  21  11   6   76  33  43   74

In [19]:
df[df.Team == 'Tottenham Hotspur'].tail(20)

      Season  Pos               Team  Pld   W   D   L  GF  GA  GD  Pts
49   2002-03   10  Tottenham Hotspur   38  14   8  16  51  62 -11   50
73   2003-04   14  Tottenham Hotspur   38  13   6  19  47  57 -10   45
88   2004-05    9  Tottenham Hotspur   38  14  10  14  47  41   6   52
104  2005-06    5  Tottenham Hotspur   38  18  11   9  53  38  15   65
124  2006-07    5  Tottenham Hotspur   38  17   9  12  57  54   3   60
150  2007-08   11  Tottenham Hotspur   38  11  13  14  66  61   5   46
167  2008-09    8  Tottenham Hotspur   38  14   9  15  45  45   0   51
183  2009-10    4  Tottenham Hotspur   38  21   7  10  67  41  26   70
204  2010-11    5  Tottenham Hotspur   38  16  14   8  55  46   9   62
223  2011-12    4  Tottenham Hotspur   38  20   9   9  66  41  25   69
244  2012-13    5  Tottenham Hotspur   38  21   9   8  66  46  20   72
265  2013-14    6  Tottenham Hotspur   38  21   6  11  55  51   4   69
284  2014-15    5  Tottenham Hotspur   38  19   7  12  58  53   5   64
302  2015-16    3  Tottenham Hotspur   38  19  13   6  69  35  34   70
321  2016-17    2  Tottenham Hotspur   38  26   8   4  86  26  60   86
342  2017-18    3  Tottenham Hotspur   38  23   8   7  74  36  38   77
363  2018-19    4  Tottenham Hotspur   38  23   2  13  67  39  28   71
385  2019-20    6  Tottenham Hotspur   38  16  11  11  61  47  14   59
406  2020-21    7  Tottenham Hotspur   38  18   8  12  68  45  23   62
423  2021-22    4  Tottenham Hotspur   38  22   5  11  69  40  29   71

In [20]:
df[df.Team == 'Liverpool'].tail(20)

      Season  Pos       Team  Pld   W   D   L   GF  GA  GD  Pts
44   2002-03    5  Liverpool   38  18  10  10   61  41  20   64
63   2003-04    4  Liverpool   38  16  12  10   55  37  18   60
84   2004-05    5  Liverpool   38  17   7  14   52  41  11   58
102  2005-06    3  Liverpool   38  25   7   6   57  25  32   82
122  2006-07    3  Liverpool   38  20   8  10   57  27  30   68
143  2007-08    4  Liverpool   38  21  13   4   67  28  39   76
161  2008-09    2  Liverpool   38  25  11   2   77  27  50   86
186  2009-10    7  Liverpool   38  18   9  11   61  35  26   63
205  2010-11    6  Liverpool   38  17   7  14   59  44  15   58
227  2011-12    8  Liverpool   38  14  10  14   47  40   7   52
246  2012-13    7  Liverpool   38  16  13   9   71  43  28   61
261  2013-14    2  Liverpool   38  26   6   6  101  50  51   84
285  2014-15    6  Liverpool   38  18   8  12   52  48   4   62
307  2015-16    8  Liverpool   38  16  12  10   63  50  13   60
323  2016-17    4  Liverpool   38  22  10   6   78  42  36   76
343  2017-18    4  Liverpool   38  21  12   5   84  38  46   75
361  2018-19    2  Liverpool   38  30   7   1   89  22  67   97
380  2019-20    1  Liverpool   38  32   3   3   85  33  52   99
402  2020-21    3  Liverpool   38  20   9   9   68  42  26   69
421  2021-22    2  Liverpool   38  28   8   2   94  26  68   92

In [21]:
df.sort_values('GF',ascending = True).tail(10)

      Season  Pos             Team  Pld   W  D  L   GF  GA  GD  Pts
361  2018-19    2        Liverpool   38  30  7  1   89  22  67   97
220  2011-12    1  Manchester City   38  28  5  5   93  29  64   89
421  2021-22    2        Liverpool   38  28  8  2   94  26  68   92
360  2018-19    1  Manchester City   38  32  2  4   95  23  72   98
420  2021-22    1  Manchester City   38  29  6  3   99  26  73   93
261  2013-14    2        Liverpool   38  26  6  6  101  50  51   84
381  2019-20    2  Manchester City   38  26  3  9  102  35  67   81
260  2013-14    1  Manchester City   38  27  5  6  102  37  65   86
180  2009-10    1          Chelsea   38  27  5  6  103  32  71   86
340  2017-18    1  Manchester City   38  32  4  2  106  27  79  100